/* .box {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 25px;
} */

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}